<!DOCTYPE html>
<html>
  <head>
    <title>ChillFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e93199a89e.js" crossorigin="anonymous"></script> 

    <script type='text/javascript'>
      window.logoImage = "<%= image_url('chillflix_logo.png')%>"
      window.tvImage = "<%= image_url('tv.png')%>"
      window.profileImage = "<%= image_url('profile_img.png')%>"
      window.dummyImage = "<%= image_url('homepage_background.jpg')%>"
       
      
    </script>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="body">
    <%= yield %>
  </body>
</html>
