<!DOCTYPE html>
<html>
  <head>
    <title>ChillFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.0.12/css/all.css” integrity=“sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9” crossorigin=“anonymous”>

    <script type='text/javascript'>
      window.logoImage = "<%= image_url('chillflix_logo.png')%>"
      window.tvImage = "<%= image_url('tv.png')%>"
      window.profileImage = "<%= image_url('profile_img.png')%>"
      
    </script>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="body">
    <%= yield %>
  </body>
</html>
