<!DOCTYPE html>
<html>
  <head>
    <title>ChillFlix</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:image" content="https://chillflix-seeds.s3-us-west-1.amazonaws.com/misc/chillflix_animation.gif" />
    <meta name="title" property="og:title" content="Chillflix" />
    <meta
      property="og:description"
      content="Chillflix is a netflix clone that allows users to watch video movie trailers on demand."
    />
    <meta property="og:url" content="http://chillflix.herokuapp.com/" />
    <meta name="author" content="Fabio R Bortone" />
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <script src="https://kit.fontawesome.com/e93199a89e.js" crossorigin="anonymous"></script> 

    <script type='text/javascript'>
       
      
    </script>
    <%= favicon_link_tag 'https://chillflix-seeds.s3-us-west-1.amazonaws.com/misc/favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="body">
    <%= yield %>
  </body>
</html>
