<!DOCTYPE html>
<html>
  <head>
    <title>ChillFlix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e93199a89e.js" crossorigin="anonymous"></script> 

    <script type='text/javascript'>
       
      
    </script>
    <%= favicon_link_tag 'https://chillflix-seeds.s3-us-west-1.amazonaws.com/misc/favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="body">
    <%= yield %>
  </body>
</html>
